:root {
    --card: #3f51b5;
    --yellow: #ffeb3b;
    --white: #FFFFFF;
    --font: 'Rubik', sans-serif;

}

/* GOBALS */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
/* Set core body defaults */
body {
    min-height: 95vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: #0b1358;
  }
  /* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}
h1 {
    font-family: var(--font);
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--yellow);
}
h2 {
    font-family: var(--font);
    font-weight: 700;
    font-size: 2.2rem;
    color: var(--yellow);
}
h3 {
    font-family: var(--font);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--white);
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    gap: 2rem;

}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 3.6rem;
    width: 4.6rem;
    border: 2px var(--yellow) solid;
    border-radius: 1rem;
    color: var(--yellow);
    background-color: var(--card);

    font-family: var(--font);
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;

    padding: 1rem;
}



.nav-button-onclick {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 3.6rem;
    width: 4.6rem;
    border: 2px var(--card) solid;
    border-radius: 1rem;
    color: var(--card);
    background-color: var(--yellow);

    font-family: var(--font);
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;

    padding: 1rem;
}


.container {
    width: 25rem;
    height: 35rem;
    background-color: var(--card);
    border-radius: 2rem;
    border: 1px var(--yellow) solid;

    margin: 1rem;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.first {
    gap: 3rem;
    padding: 3rem 2rem 0 2rem;
    display: flex;
    align-items: left;
    justify-content: center ;
    flex-direction: column;
}
.second {
    gap: 3rem;
    padding: .4rem 1rem 1rem 1rem;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;

    height: 20rem;

    margin: 1rem;

}
.line {
    border-bottom: 1px solid var(--yellow);
    opacity: 0.4;
    width: 25rem;
    margin-top: 2rem;
}
.button {
    display: block;
    border-radius: 4rem;
    width: 5rem;
    height: 5rem;
    background-color: var(--card);

    background-image: url(/images/reload.png);
    background-size: contain;
    
    border: 2px var(--yellow) solid;

}
.button:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 249);
}
.flex-button {
    display: flex;
    justify-content:center;

    margin-top: -3.5rem;
}
.sentence1 {
    display: flex;
    justify-content: flex-start;

    text-align:justify;

    height: 5rem;

 } 


.sentence2 {
    display: flex;
    justify-content: flex-start;

    text-align:justify;

    height: 5rem;
 }





.footer {
    display: flex;
    justify-content: center;

    margin-top: 2rem;

    color: #ffeb3b;
 }



.credits {
    color: #ffeb3b;
    font-family: var(--font);
    font-weight: 700;
    text-decoration: none;
    margin-left: .5rem;
}